<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="meta_header(title,links,scripts)">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="UTF-8">
	<!--
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    --><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!--	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>-->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<script src="https://kit.fontawesome.com/e84a7fa652.js" crossorigin="anonymous"></script>
	<!-- (3)タイトルのフォーマット -->
	<title th:text="'MIPORIN | ' + ${title}"></title>

	<!-- (4)各View固有で読み込むもの -->
	<th:block th:replace="${links} ?: _" />
	<th:block th:replace="${scripts} ?: _" />
</head>

<header th:fragment="globalnavi">

	<nav class="navbar navbar-light bg-white p-1" id="header" >
		<div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
			<a class="navbar-brand" th:href="@{/}">
				<span class="fas fa-pizza-slice"></span>Miporin
			</a>
		</div>

		<div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">

			<div sec:authorize="isAnonymous()">
				<a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/signin}">サインイン</a>
			</div>

			<div sec:authorize="isAuthenticated()">
			<div class="dropdown">
				<a uib-dropdown-toggle="" class="profile-toggle-link" aria-haspopup="true" data-toggle="dropdown" aria-expanded="true" id="dropdownMenuButton">
					<img th:src="${session.icon}" class="mx-auto rounded-circle" alt="...">
				</a>


				<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
					<li sec:authorize="isAuthenticated()"><a class="dropdown-item" href="#">@<span
							sec:authentication="principal.user.displayName">displayName</span></a>
					</li>
					<li><a class="dropdown-item" th:href="@{/user/miho/gourmets}" ><i class="fas fa-border-all"></i>ダッシュボード</a></li>
					<li><a class="dropdown-item" href="javascript:logout.submit()"><i class="fas fa-sign-out-alt"></i></i>ログアウト</a></li>
				</ul>
				<form th:action="@{/logout}" method="post" name="logout">
				</form>
			</div>


			</div>

		</div>
	</nav>
</header>




		<!-- 4列をサイドメニューに割り当て -->
		<div class="col-md-2 d-none d-md-block bg-white sidebar"  th:fragment="sidebar">

			<div class="list-group">
					<a class="list-group-item list-group-item-action" th:href="@{/user/miho/gourmets}" >
						<i class="fas fa-border-all"></i>ダッシュボード
					</a>
					<a class="list-group-item list-group-item-action" th:href="@{/user/miho/gourmets/new}" >
						<i class="fas fa-utensils"></i>
						Add Gourmet
					</a>

			</div>


		</div>
