<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/globalnavi::meta_header('入力フォーム',~{::link},~{::script})">
    <script  th:src="@{/js/preview.js}" />
    <script>
	var templateMsg = "みなさん、お昼の時間です！\n「${shopName}」の「${menu}」はいかかですか？\n${comment}";
    </script>
</head>
<body class="bg-light">
<div th:replace="common/globalnavi::globalnavi"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="common/globalnavi::sidebar"></div>
        <main class="col-md-9 col-lg-10 px-4 bg-light">
            <div class="container">
                <div role="main" 　class="col-10 col-md-8 offset-md-2">
                    <form class="needs-validation"
                          th:action="${mode == 'new'?'/user/' + gourmet.botId + '/gourmets/':'/user/' + gourmet.botId + '/gourmets/' + gourmet.gourmetId}"
                          th:object="${gourmet}" th:method="${mode == 'new'?'post':'put'}" required>

                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-1 my-3">
                            <h2 class="h4 text-secondary">Registory form
                                <small class="text-muted">あなたのおすすめの大洗グルメをおしえて下さい！</small>
                            </h2>
                        </div>
                        <div class="album py-1 bg-light">
                            <div class="row">
                                <div class="col-md-6 order-md-2 mb-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <ul class="nav nav-pills card-header-pills">
                                                <th:object th:each="scheduleTemplate,stat : ${scheduleTemplates}" class="col-md-4">
                                                    <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-file-richtext"></i><span th:text="${scheduleTemplate.name}"></span></a></li>
                                                <input type="hidden" th:id="'templateMsg_'+${stat.index}" th:value="${scheduleTemplate.messageTemplateJs}">
                                                </th:object>
                                                <input type="hidden" th:id="templateIndex" th:value="0">
                                            </ul>
                                        </div>
                                        <div class="card-body">
                                            <pre class="card-text" style="white-space: pre-wrap ;" id="output"></pre>
                                        </div>
                                        <img class="card-img-top" id="img-preview"
                                             src="http://placehold.jp/150x100.png">

                                    </div>

                                </div>
                                <div class="col-md-6 order-md-1">
                                    <input id="userId" type="hidden"
                                           th:value="${#authentication.principal.user.displayName}">

                                    <div class="mb-3">
                                        <input class="form-control" th:field="*{menu}" placeholder="メニュー" required>
                                        <div class="invalid-feedback">
                                            必須項目です
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <input class="form-control" th:field="*{shopName}" placeholder="店名" required>
                                        <div class="invalid-feedback">
                                            必須項目です
                                        </div>

                                    </div>

                                    <div class="mb-3">
                                        <textarea class="form-control" th:field="*{comment}" rows="8" required
                                                  placeholder="コメント"></textarea>
                                        <div class="invalid-feedback">
                                            必須項目です
                                        </div>

                                    </div>
                                    <div class="mb-3">
                                        <div class="custom-file">
                                            <label class="custom-file-label" for="inputGroupFile01"></label>
                                            <input type="file" name="userfile" accept="image/*"
                                                   class="custom-file-input" id="inputGroupFile01"
                                                   aria-describedby="inputGroupFileAddon01">
                                        </div>
                                    </div>

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                               th:id="${#ids.seq('invalidFlag')}" th:field="*{invalidFlag}">
                                        <label class="custom-control-label"
                                               th:for="${#ids.prev('invalidFlag')}">無効にする</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                               th:id="${#ids.seq('literatureDisplayFlag')}"
                                               th:field="*{literatureDisplayFlag}">
                                        <label class="custom-control-label"
                                               th:for="${#ids.prev('literatureDisplayFlag')}">メンション表示</label>
                                    </div>
                                    <div class="mb-3">
                                        <div class="progress">
                                            <div id="progress-tweet"
                                                 class="progress-bar progress-bar-striped progress-bar-animated"
                                                 role="progressbar" aria-valuemin="0" aria-valuemax="150" style="">20
                                                chars
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-lg btn-block" type="submit" id="gourmet-submit">
                                        登録
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>